body {
}

header {
    width: 100%;
}

.container {
    display: flex;
    height: 350px;
    width: 100%;
}

.menu-items {
    display: flex;
    flex-direction: column;

}

.projects {
    height: 300px;
    overflow-y: auto;
}

#project-name {
cursor: pointer;
}

.input-container-hidden, .edit-hidden {
    display: none;
}

.content-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add-project-container {
    padding-top: 5rem;
}

.task-container {
    border: 1px solid black;
    padding: 5px;
}

.project-heading {
    display: flex;
    align-items: center;
    gap: 5px;
}

.project-label-hidden {
    display: none;
}