body {
}

header {
    width: 100%;
}

.container {
    display: flex;
    height: 350px;
}

.menu-items {
    display: flex;
    flex-direction: column;

}

.add-project-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects {
    height: 300px;
    overflow-y: auto;
}

#project-name {
cursor: pointer;
}

.input-container-hidden {
    visibility: hidden;
}